body {
    font-family: 'Edu NSW ACT Foundation', cursive;
    margin: 0;
    padding: 10px;
}

section {
    display: flex;
    text-align: center;
    padding: 10px;
}

.half-width {
    width: 50%;

}

.half-width img {
    width: 100%;
}

.box img {
    width: 100%;
}

.bg {
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    width: 100%;
    padding: 100px 20px;
}

.Link-Button {
    text-decoration: none;
    background-image: linear-gradient(orange, brown);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.donate {
    color: blue;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
}

#block {
    background-color: rgb(215, 195, 169);
}

.note {
    text-align: center;
    background-color: black;
    color: azure;
}

.foot {
    font-size: 25px;
}